#chocolates {
    font-size: 30px;
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border-radius: 20%;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    width: 150px;
    

}

.site-header {
    color: blueviolet;
}
.main-nav{
    
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-left-radius: 4px;
    
}
